<style>
body {
  max-width: 100px;

}


body {
  background-color: lightgrey;
  margin: 2%;
  margin-left: 20%;
  margin-right: 20%;
}

h1 {
  color: navy;
  margin-left: 4%;
}

div {
  background-color: white;
  display: block
}




</style>